<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Puppet3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Puppet3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Puppet3.Properties.Settings>
            <setting name="TopMost" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="BlinkDuration" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="BlinkFrequency" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="PictureScale" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ConfigLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MicrophoneDeviceNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MicrophoneVolumeLevelThreshold" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="CustomFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SoundVolumeLevel1" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="SoundVolumeLevel2" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="SoundVolumeLevel3" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="SoundVolumeLevel4" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="SoundVolumeLevel5" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="SoundVolumeLevel6" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="SoundVolumeLevel7" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="SoundVolumeLevel8" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="SoundVolumeLevel9" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="SoundVolumeLevel0" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="MascotBackColor" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="Transparency" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LocationInitialized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ApplicationSoundLevelThreshold" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="SoundSource" serializeAs="String">
                <value />
            </setting>
            <setting name="MicrophoneDeviceId" serializeAs="String">
                <value />
            </setting>
            <setting name="MouthOpenWhileSound" serializeAs="String">
                <value>False</value>
            </setting>
        </Puppet3.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Puppet3.Properties.Settings>
            <setting name="Title" serializeAs="String">
                <value>Puppet3</value>
            </setting>
        </Puppet3.Properties.Settings>
    </applicationSettings>
</configuration>